.navbar {
    width: 100%;
    background-color: var(--bg-secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

/* Brand */
.navbar-brand a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--text-primary);
    text-decoration: none;
}

.brand-icon {
    font-size: 1.5rem;
}

.brand-text {
    color: var(--emerald);

}

.navbar-link {
    cursor: pointer;
    border: none;
    background: none;
    font-size: medium;
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.3s;
}

.navbar-link:hover {
    color: var(--text-primary);
    border-bottom: 1px solid var(--text-primary);
}

/* Desktop Menu */
.navbar-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Mobile Menu */
.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--bg-secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
}



.mobile-btn-primary {
    border: none;
    padding: 0.75rem 1.5rem;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }

    .navbar-container {
        padding: 0 1rem;
    }
}