.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    scroll-margin-top: 80px;
}

.hero-section-h1 {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    margin-bottom: 1.5rem;
    color: var(--text-primary);

    @media(max-width: 768px) {
        font-size: 2rem;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.hero-section-h2 {
    padding: 0.3rem 0 1.5rem 0;
    font-size: 1.5rem;
    color: var(--text-secondary);

    @media(max-width: 768px) {
        font-size: 1.2rem;
    }
}