body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #dddddd;
  font-family: sans-serif;
  background-color: var(--bg-primary);

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 100px;
  background-color: blanchedalmond;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}