.card-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    background-color: var(--bg-card);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-img {
    flex: 2;
    width: 32px;
    height: 32px;

}

.card-title {
    flex: 1;
    font-size: 1.5rem;
    color: var(--gold-light);
}

.card-description {
    flex: 3;
    color: var(--text-secondary);
}