.img-mockup {
    border-radius: 1.5rem;
    margin: 3rem 0 2rem 0;
    transform: rotate(4deg);
    transition: all 0.3s;
    max-height: 400px;
    max-width: 1200px;

    @media (max-width: 768px) {
        margin-top: 2rem;
        max-height: 600px;
        max-width: 375px;
    }
}

.img-mockup:hover {
    transform: rotate(0deg) scale(1.02);
}